@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Shantell Sans", serif;
}

body,
html {
    height: 100%;
    background-color: rgb(89, 89, 89);
    scroll-behavior: smooth;
}

.item{
    height: 80px;
    
}

.item a{
    color: white;
}
.item:hover a{
    color: rgb(0, 0, 0);
}

.menu .active, .menu .item div:hover {
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    transform: scale(1.16);
    padding: 5px;
    color: black;
}


/* .carousel-indicators button {
    width: 10px; 
    height: 10px; 
    padding-right: 5px; 
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
  }
  .carousel-indicators .active {
    background-color: #000000; 
  }
*/
  .carousel-item{
    height:500px;
    width: 100%;
    
  }



  #search-bar:focus{
    border: 2px solid grey;
    /* box-shadow: 10px 5px 40px black, 0px 0px 0px white;
     */
     /* box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 10px 6px -10px inset; */
     box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .search-icon{
    position: relative;
    font-size: 200rem;
    top: 17px;
    left: -50px;
  }

  .header{
    font-size: 1.9rem;
  }



  .table-header-shadow{
    box-shadow: rgba(5, 5, 255, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: 2px solid grey;
  }

  td, th{
    width: 2rem;
    text-align: center;
    vertical-align: middle;
  }

  .card{
    /* box-shadow: 0 27px 20px -19px rgba(122, 62, 134, .31); */
    box-shadow: -15px 27px 20px -5px rgba(122, 62, 134, .31);
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 2rem 1rem;
    margin: 3rem .5rem;
    height: 340px;
    width: 21rem;
    font-size: 1.1rem;
}
.card-img{
  width:9rem;
  align-self: center;
  margin-bottom: 20px;
}
.card-body{
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.card-title{
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* Defines the width of the carousel and centers it on the page */
.slick-carousel {
  margin: 0 auto;
  width: 1000px;
}

/* The width of each slide */
.slick-slide {
  width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: blue;
}
